.Task {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-content: start;
  align-items: start;
  padding: 5px 4px;
}

* > .Task:nth-child(n) {
  border-top: 1px solid #000;
}
* > .Task:nth-last-child(1) {
  border-bottom: 1px solid #000;
}

.Task > .Line {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  align-content: center;
}

.Task > .New {
  display: flex;
  flex-direction: row;
}
